* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color:#140132;
  --cyan-color:#01FFC2;
  --text_nav-color:#5E636E;
  --logo_icon-color:#7156fd33;
  --title-color:#FCFCFD;
}

body {
  width: 1512px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  background: var(--main-color);
}

.header {
  width: 100%;
  height: 98px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 92.23px;
  display: flex;
  flex-direction: column;
}
.header__logo-image {
  margin-left: 23.3px;
  margin-top: 7px;
}
.header__logo-brand {
  margin-top: -6px;
}
.header__logo-text {
  color: #fff;
  font-size: 9px;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0;
  line-height: 11px;
}

.nav {
  width: 575px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
}
.nav-menu .text {
  font-size: 16px;
  font-weight: 400;
  color: var(--text_nav-color);
  cursor: pointer;
}
.nav-menu .activ {
  color: var(--cyan-color);
}

.info-menu {
  width: 457px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-menu .cheel {
  width: 91px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-menu .logo-icon {
  padding: 12px 22px;
  width: 177px;
  height: 58px;
  border-radius: 30px;
  background: var(--logo_icon-color);
  display: flex;
}
.info-menu .lang {
  width: 38px;
  height: 20px;
}
.info-menu .lang select {
  text-decoration: none;
  background: none;
  color: var(--text_nav-color);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}
.info-menu .lang img {
  cursor: pointer;
}

.price h6 {
  color: #E5F7FF;
  font-weight: 400;
  font-size: 8px;
}
.price .prise-num {
  width: 56px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price .prise-num p {
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}
.price .prise-num img {
  margin-left: 2px;
  cursor: pointer;
}

.logo-blok {
  margin-left: 9px;
}
.logo-blok .logo-title {
  position: relative;
  display: flex;
  align-items: start;
}
.logo-blok .logo-title img:nth-child(1) {
  margin-top: 0;
}
.logo-blok .logo-title img:nth-child(2) {
  margin-left: -7px;
}
.logo-blok .logo-title h6 {
  margin-left: 6px;
  color: #fff;
  font-weight: 100;
  font-size: 8px;
  letter-spacing: 2px;
}
.logo-blok img {
  margin-top: 4px;
}

.main {
  position: relative;
  width: 100%;
  height: 907px;
}
.main img {
  width: 100%;
  position: absolute;
}
.main .heading {
  width: 347px;
  height: 242px;
  position: absolute;
  top: 238px;
  left: 80px;
}
.main .heading h3 {
  font-weight: 900;
  font-size: 56px;
  color: var(--title-color);
}
.main .heading h3 span {
  color: var(--cyan-color);
  cursor: pointer;
}
.main .heading p {
  font-size: 26px;
  font-weight: 700;
  color: var(--title-color);
}
.main .social-networks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 64px;
  height: 484px;
  position: absolute;
  right: 80px;
  top: 200px;
}
.main .social-networks .network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background: var(--logo_icon-color);
  cursor: pointer;
}
.main .social-networks .network img {
  width: initial;
  height: initial;
}
.main .google-play {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 333px;
  height: 102px;
  position: absolute;
  left: 80px;
  top: 685px;
}
.main .google-play .network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 20px;
  background: var(--logo_icon-color);
  cursor: pointer;
}
.main .google-play .network img {
  width: initial;
  height: initial;
}
.main .google-play p {
  font-size: 20px;
  color: var(--title-color);
}

.information {
  width: 100%;
}
.information .wrapper {
  width: 1354px;
  margin-left: 79px;
}

.description {
  width: 1122px;
  height: 584px;
  margin-left: 116px;
  color: var(--title-color);
}
.description h2 {
  font-size: 72px;
  font-weight: 900;
}
.description h2 span {
  color: var(--cyan-color);
  cursor: pointer;
}
.description .review {
  margin-top: 40px;
  width: 100%;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  display: flex;
}
.description .review p {
  width: 549px;
  text-align: left;
}
.description .review p span {
  font-weight: 700;
  cursor: pointer;
}
.description .review p:nth-child(2) {
  margin-left: 24px;
}
.description h5 {
  font-size: 26px;
  font-weight: 700;
  margin-top: 40px;
  line-height: 38px;
}
.description h5 span {
  color: var(--cyan-color);
  cursor: pointer;
}
.description .information__text {
  margin-top: 40px;
  display: flex;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  color: var(--title-color);
}
.description .information__text p:nth-child(2) {
  margin-left: 24px;
}
.description .information__text p span {
  font-weight: 700;
}

.actions {
  width: 1123px;
  height: 1165px;
  margin-top: 99px;
  margin-left: 116px;
  position: relative;
  display: grid;
  grid-template-columns: 348px 252px 320px;
  grid-template-rows: auto;
  gap: 61px 101px;
  grid-template-areas: "item-1 item-2 item-3" ".      .      item-4" ".      .      item-5";
}
.actions__step h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  font-weight: 900;
  line-height: 80px;
  color: var(--logo_icon-color);
}
.actions__step p {
  color: var(--title-color);
  font-size: 26px;
  line-height: 38px;
  font-weight: 700;
}
.actions__step p span {
  color: var(--cyan-color);
  cursor: pointer;
}
.actions__step .txt {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}
.actions__step .txt span {
  font-weight: 700;
  color: var(--title-color);
}
.actions__step .text {
  margin-top: 10px;
  display: flex;
}
.actions__step .text p {
  width: 200px;
  font-size: 18px;
  color: var(--title-color);
  line-height: 33px;
  font-weight: 400;
}
.actions__step .text img {
  position: static;
  margin-top: -120px;
  margin-left: -10px;
}
.actions__step:nth-child(1) {
  grid-area: item-1;
}
.actions__step:nth-child(2) {
  grid-area: item-2;
}
.actions__step:nth-child(3) {
  grid-area: item-3;
}
.actions__step:nth-child(4) {
  grid-area: item-4;
}
.actions__step:nth-child(5) {
  grid-area: item-5;
}
.actions img {
  position: absolute;
  top: 206px;
}

.video-view {
  width: 1123px;
  height: 306px;
  margin-top: 99px;
  margin-left: 116px;
  display: flex;
  align-items: center;
}
.video-view__title h2 {
  width: 740px;
  height: 176px;
  font-size: 72px;
  color: var(--title-color);
  line-height: 87px;
  font-weight: 800;
}
.video-view__title h2 span {
  font-weight: 900;
  color: var(--cyan-color);
  cursor: pointer;
}
.video-view__title .text {
  margin-top: 20px;
  width: 458px;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  color: var(--title-color);
}
.video-view img {
  margin-top: 40px;
}

.button__actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 108px;
  width: 1354px;
  height: 187px;
  background: linear-gradient(rgba(113, 86, 251, 0.2) 0%, rgba(255, 13, 255, 0.2) 100%);
  border-radius: 40px;
}
.button__actions .abs {
  position: absolute;
}
.button__actions .top-row {
  top: -9px;
  left: 346px;
}
.button__actions .top-line {
  left: 90px;
}
.button__actions .bot-rov {
  right: 348px;
  bottom: -9px;
}
.button__actions .bot-line {
  right: 90px;
}
.button__actions h4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  color: var(--title-color);
}
.button__actions h4 span {
  font-weight: 900;
  color: var(--cyan-color);
  z-index: 100;
  cursor: pointer;
}
.button__actions button {
  z-index: 100;
  width: 251px;
  height: 80px;
  background: #7156FB;
  border-radius: 40px;
  color: var(--title-color);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

.footer {
  margin-top: -50px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 882px;
}
.footer .footer__info {
  z-index: 100;
  width: 365px;
  height: 266px;
}
.footer .footer__info h4 {
  width: 344px;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  color: var(--title-color);
}
.footer .footer__info h4 span {
  font-weight: 900;
  color: var(--cyan-color);
  cursor: pointer;
}
.footer .footer__info p {
  width: 365px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  color: var(--title-color);
}
.footer img {
  margin-left: -130px;
}/*# sourceMappingURL=styles.css.map */