* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color:#140132;
  --cyan-color:#01FFC2;
  --text_nav-color:#5E636E;
  --logo_icon-color:#7156fd33;
  --title-color:#FCFCFD;
}

body {
  width: 1512px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: var(--main-color);
}

.header {
  width: 100%;
  height: 98px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 92.23px;
  display: flex;
  flex-direction: column;

  &-image {
    margin-left: 23.3px;
    margin-top: 7px;
  }
  &-brand {
    margin-top: -6px;
  }
  &-text {
    color: #fff;
    font-size: 9px;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 0;
    line-height: 11px;
  }
}

.nav {
  width: 575px;

  &-menu {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type:  none;
    .text {
      font-size: 16px;
      font-weight: 400;
      color: var(--text_nav-color);
      cursor: pointer;
    }
    .activ {
      color: var(--cyan-color);
    }
  }

}

.info-menu {
  width: 457px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cheel {
    width: 91px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-icon {
    padding: 12px 22px;
    width: 177px;
    height: 58px;
    border-radius: 30px;
    background: var(--logo_icon-color);
    display: flex;
  }
  .lang {
    width: 38px;
    height: 20px;
    

    select {
      text-decoration: none;
      background: none;
      color: var(--text_nav-color);
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      outline:none
    }
    img {
      cursor: pointer;
    }
  }
}

.price {

  h6 {
    color: #E5F7FF;
    font-weight: 400;
    font-size: 8px;
  }
  .prise-num {
    width: 56px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: 800;
      color: #fff;
      cursor: pointer;
    }
    img {
      margin-left: 2px;
      cursor: pointer;
    }
  }
}

.logo-blok {
  margin-left: 9px;
  .logo-title {
    position: relative;
    display: flex;
    align-items: start;
    img:nth-child(1) {
      margin-top: 0;
    }
    img:nth-child(2) {
      margin-left: -7px;
    }
    h6 {
      margin-left: 6px;
      color: #fff;
      font-weight: 100;
      font-size: 8px;
      letter-spacing: 2px;
    }
  }
  img {
    margin-top: 4px;
  }
}


.main {
  position: relative;
  width: 100%;
  height: 907px;
  img {
    width: 100%;
    position: absolute;
  }
  .heading {
    width: 347px;
    height: 242px;
    position: absolute;
    top: 238px;
    left: 80px;
    h3 {
      font-weight: 900;
      font-size: 56px;
      color: var(--title-color);
      span {
        color: var(--cyan-color);
        cursor: pointer;
      }
    }
    p {
      font-size: 26px;
      font-weight: 700;
      color: var(--title-color)
    }
  }
  .social-networks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64px;
    height: 484px;
    position: absolute;
    right: 80px;
    top: 200px;
    .network {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      border-radius: 20px;
      background: var(--logo_icon-color);
      cursor: pointer;
      img {
        width: initial;
        height: initial;
      }
    }
    
  }
  .google-play {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 333px;
    height: 102px;
    position: absolute;
    left: 80px;
    top: 685px;
    .network {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      border-radius: 20px;
      background: var(--logo_icon-color);
      cursor: pointer;
      img {
        width: initial;
        height: initial;
      }
    }
    p {
      font-size: 20px;
      color: var(--title-color)
    }
  }
}

.information {
  width: 100%;
  .wrapper {
    width: 1354px;
    margin-left: 79px;
  }
}

.description {
  width: 1122px;
  height: 584px;
  margin-left: 116px;
  color: var(--title-color);
  h2 {
    font-size: 72px;
    font-weight: 900;
    span {
      color: var(--cyan-color);
      cursor: pointer;
    }
  }
  .review {
    margin-top: 40px;
    width: 100%;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    display: flex;
    p {
      width: 549px;
      text-align: left;
      span {
        font-weight: 700;
        cursor: pointer;
      }
    }
    p:nth-child(2){
      margin-left: 24px;
    }
  }
  h5 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 40px;
    line-height: 38px;

    span {
      color: var(--cyan-color);
      cursor: pointer;
    }
  }
  .information__text {
    margin-top: 40px;
    display: flex;
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    color: var(--title-color);

    p:nth-child(2){
      margin-left: 24px;
    }
    p {
      span {
        font-weight: 700;
      }
    }
  }
}
.actions {
  width: 1123px;
  height: 1165px;
  margin-top: 99px;
  margin-left: 116px;
  position: relative;
  display: grid;
  grid-template-columns: 348px 252px 320px;
  grid-template-rows: auto;
  gap: 61px 101px;
  grid-template-areas:
    "item-1 item-2 item-3"
    ".      .      item-4"
    ".      .      item-5"
    ;
  &__step {
    // max-width: 394px;
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 100px;
      font-weight: 900;
      line-height: 80px;
      color: var(--logo_icon-color);
    }
    p {
      color: var(--title-color);
      font-size: 26px;
      line-height: 38px;
      font-weight: 700;
      span {
        color: var(--cyan-color);
        cursor: pointer;
      }
    }
    .txt {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 400;
      line-height: 33px;
      span {
        font-weight: 700;
        color: var(--title-color);
      }
    }
    .text {
      margin-top: 10px;
      display: flex;
      p {
        width: 200px;
        font-size: 18px;
        color: var(--title-color);
        line-height: 33px;
        font-weight: 400;
      }
      img {
        position: static;
        margin-top: -120px;
        margin-left: -10px;
      }
    }

  }
  &__step:nth-child(1){
    grid-area: item-1;
  }
  &__step:nth-child(2){
    grid-area: item-2;
  }
  &__step:nth-child(3){
    grid-area: item-3;
  }
  &__step:nth-child(4){
    grid-area: item-4;
  }
  &__step:nth-child(5){
    grid-area: item-5;
  }
  img {
    position: absolute;
    top: 206px;
  }
}
.video-view {
  width: 1123px;
  height: 306px;
  margin-top: 99px;
  margin-left: 116px;
  display: flex;
  align-items: center;
  &__title {

    h2 {
      width: 740px;
      height: 176px;
      font-size: 72px;
      color: var(--title-color);
      line-height: 87px;
      font-weight: 800;
      span {
        font-weight: 900;
        color: var(--cyan-color);
        cursor: pointer;
      }

    }
    .text {
      margin-top: 20px;
      width: 458px;
      font-size: 18px;
      line-height: 33px;
      font-weight: 400;
      color: var(--title-color);
    }
  }
  img {
    margin-top: 40px;
  }
}
.button__actions {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 108px;
  width: 1354px;
  height: 187px;
  background: linear-gradient(rgba(113, 86, 251, 0.2) 0%, rgba(255, 13, 255, 0.2) 100%);
  border-radius: 40px;
  .abs {
    position: absolute;
  }
  .top-row {
    top: -9px;
    left: 346px;
  }
  .top-line {
    left: 90px;
  }
  .bot-rov {
    right: 348px;
    bottom: -9px;
  }
  .bot-line {
    right: 90px;
  }
  h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    color: var(--title-color);
    span {
      font-weight: 900;
      color: var(--cyan-color);
      z-index: 100;
      cursor: pointer;
    }
  }
  button {
    z-index: 100;
    width: 251px;
    height: 80px;
    background: #7156FB;
    border-radius: 40px;
    color: var(--title-color);
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
  }
}


.footer {
  margin-top: -50px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 882px;
  .footer__info {
    z-index: 100;
    // margin-right: -200px;
    width: 365px;
    height: 266px;
    h4 {
      width: 344px;
      font-size: 26px;
      font-weight: 700;
      line-height: 38px;
      color: var(--title-color);
      span {
        font-weight: 900;
        color: var(--cyan-color);
        cursor: pointer;
      }
    }
    p {
      width: 365px;
      margin-top: 20px;
      font-size: 18px;
      line-height: 33px;
      font-weight: 400;
      color: var(--title-color);
    }
    
  }
  img {
      margin-left: -130px;
  }
}